$color1: rgba(103, 53, 101, 1);
$color2: rgba(29, 31, 37, 1);
$color3: rgba(94, 95, 99, 1);
$color4: rgba(158, 162, 176, 1);
$color5: rgba(203, 203, 203, 1);
$color6: rgba(240, 241, 243, 1);
$color7: rgba(255, 255, 255, 1);

$default-background: $color7;
$default-background-menu: $color2; 

$primary-navbar-text-color: $color7;
$secondary-navbar-text-color: $color2;

$hero-section-text-color: $color7;

$default-input-text-color: $color4;
$default-input-background: $color6; 

$default-button-background: $color1;
$default-button-text-color: $color7;

$default-vector-background: $color1;
$default-shadow-background: $color1;
$default-button-background: $color1;

$default-header-color: $color2;
$decoration-heading-color: $color5;

$primary-paragraph-color: $color3;
$secondary-paragraph-color: $color4;
$italic-paragraph-color: $color2;

$default-border-color: $color5;

$default-page-width: 1440px;
$default-margin: 12%;
$default-padding: 12%;

$font1: 'Lato', sans-serif;
$font2: 'Sorts Mill Goudy', serif;

$default-input-font: $font1;
$default-button-font: $font1;
$default-link-font: $font1;
$default-header-font: $font2;

$primary-paragraph-font: $font2;
$secondary-paragraph-font: $font1;